body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .editButton{
    margin-right: 15px;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
  }
  
  
  li form {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  li form input {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
 
  li button {
    opacity: 0;
  }
  /* Con esto muestro los botones */

  li:hover button {
    opacity: 1;
  }
  
  /* eliminar */
  li button {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
  }
  
  li button.edit {
    background-color: #ffc107;
  }
  
  li button.edit:hover {
    background-color: #e0a800;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
  li button.cancel {
    background-color: #6c757d;
  }
  
  li button.cancel:hover {
    background-color: #5a6268;
  }
  
  div {
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
